
<!--BANNER-->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);">
  <div class="container">
    <h1>Top Shots showcases Photographers !</h1>
    <p>We connect photographers and customers, offering top level experiences</p>
    <a type="button" class="btn btn-outline-light" class="nav-link" href="#">Sign up</a>
  </div>
</div>
