<div class="container my-3" style="max-width: 500px;">
  <%= simple_form_for [ @photographer, @booking ] do |f| %>
    <%= f.input :day, label: 'From' %>
    <%= f.input :duration, label: 'To' %>
    <%= f.submit "Request Booking", class: "btn btn-dark" %>
  <% end %>
</div>
