.btn-font {
  font-family: Montserrat;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 40;
}
// .btn-edit {

// position: absolute;
// width: 198px;
// height: 44px;
// left: 204px;
// top: 218px;


// }
// .btn-new {
// position: absolute;
// width: 100px;
// height: 33px;
// left: 301px;
// top: 735px;

// }
// .btn-delete{
// position: absolute;
// width: 100px;
// height: 33px;
// left: 187px;
// top: 735px;
// }
// .btn-edit_photographer{
// position: absolute;
// width: 100px;
// height: 33px;
// left: 74px;
// top: 735px;
// }
