.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px 0;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-avatar {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  color: #343A40;
}

.card-horizontal {
  display: flex;
  padding: 10px 20px;
  margin: 40px 0;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  max-width: 600px;
}

.card-horizontal-parcel {
  margin-right: 20px;
  p {
    margin: 0;
  }
}

.card-horizontal-center {
  flex-grow: 1;
}

.card-horizontal-icon {
  font-size: 20px;
  color: $dark-gray;
}

