.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
  font-weight: 300;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

#logo-text {
  padding-top: auto;
}

.navbar-lewagon .navbar-brand p {
  padding-top: 20px;
}

.nav-item {
display: inline-block;
padding: 16px;
}

.nav-link {
  font-size: 14px;
  display: inline-block;
  padding: 16px;

}

