.banner_profile {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-family: Montserrat;
  background-size: 90%;
}

.avatar_profile {
  position: absolute;
  top: 320px;
  left: 80px;
}

#content_profile {
  margin-top: 90px;
}
